<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<!-- http://www.mybatis.org/generator/index.html -->

	<classPathEntry location="./depends/mysql-connector-java-5.1.21.jar" />	

	<context id="user-demo" targetRuntime="MyBatis3">
		<plugin type="org.mybatis.generator.plugins.AddLimitOffsetPlugin" />
		
		<commentGenerator>
			<property name="suppressDate" value="false" /> 		
			<property name="suppressAllComments" value="true" /> 		
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/zbase?useUnicode=true&amp;characterEncoding=utf8"
			userId="root" password="mysql" />

		<javaModelGenerator targetPackage="com.yy.zbase.database.gen.model"
			targetProject="./src/main/java" />

		<javaClientGenerator type="ANNOTATEDMAPPER"
			targetPackage="com.yy.zbase.database.gen.mapper" targetProject="./src/main/java" />

		<table tableName="tb_pc_dict" enableCountByExample="true" />
	</context>
</generatorConfiguration>